unittest
mock~=5.0.2
numpy~=1.24.2
bokeh~=3.1.0
stable-baselines3[extra]
gymnasium~=0.28.1
typer~=0.7.0
pandas~=1.5.3
torch~=2.0.1
matplotlib~=3.7.1
seaborn~=0.12.2
networkx~=3.1
tqdm~=4.65.0
joblib~=1.2.0
gym~=0.26.2
sklearn~=0.0.post1
scikit-learn~=1.2.2
nbformat~=5.8.0
ipython~=8.12.0
nbconvert~=7.3.0
scipy~=1.10.1
statsmodels~=0.13.5